/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  
   align-items: center;
   text-align: right;

  
}

/* Containers */

.container {
display: flex;
margin:5px;
justify-content:center;

}

.flex-items {
  margin:5px;
text-align: center;
width: auto;
}

div {
  background-color: #eae2b7;
  margin: auto;
  width: 750px;

}

ul{
  text-align: justify;
  
}

ol {
  text-align: justify
}

article {
  padding: 50px 0;
  text-align: center
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
  text-align: left;
  font-size: 20px;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-right: 20px;
   
}

/* Images */
img {
  width: 100%;
  max-width:180px;
  height: auto;
}

.image-circle {
  border:3px solid #003049;
  border-radius: 500px;
  
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
